  <connectionStrings>
   <!-- Connection String for SQL Server 2008/2012    -->
    <add name="SiteSqlServer" connectionString="Data Source=7072HEEWM;Initial Catalog=DNN.GITHUBdb;Integrated Security=False;User ID=sa;Password=admin1234;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>